*,
*::before,
*::after {
  box-sizing: border-box;
}


header{
  margin: 20px 0 40px;
  display: grid;
  grid-auto-columns: min-content;
}
.main-wrapper{
  margin: 20px;
}

.nextTripContainer{
  max-width: 600px;
  margin: 0 auto;
}






/* next trip page */